In [1]:
import pandas as panda
import numpy

In [4]:
#series em panda sao semelhates a array em python puro

serie = panda.Series([1,2,3,4,5,6,7,8,9])
#toda serie vem acompanhada do seu indice
serie

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [5]:
serie.index

RangeIndex(start=0, stop=9, step=1)

In [9]:
meses = (['jan','fev','mar','abr','maio','jun','jul','ago','set','out','nov','dez'])

In [10]:
#posso mudar os parametros do indice das series, nao precisa ser necessariamente um numero

serieMeses = panda.Series(numpy.arange(1,13), index = meses)
]
#o index nesse caso sao os meses do ano
serieMeses

jan      1
fev      2
mar      3
abr      4
maio     5
jun      6
jul      7
ago      8
set      9
out     10
nov     11
dez     12
dtype: int32

In [12]:
serieMeses.index

Index(['jan', 'fev', 'mar', 'abr', 'maio', 'jun', 'jul', 'ago', 'set', 'out',
       'nov', 'dez'],
      dtype='object')

In [14]:
#Tambem posso utilizar dicionarios e criar as series ja em um formato
#dicionario
copaDoMundo = {'Brasil':5, 'Alemana':4, 'Italia':4, 'Inglaterra':1} 
serieCopa = panda.Series(copaDoMundo) #Os paise vao ser os Indices e os Titulos os numeros
serieCopa

Brasil        5
Alemana       4
Italia        4
Inglaterra    1
dtype: int64

In [17]:
#é possivel usar os dicionarios como referecia e adicionar/retirar mais valores nas series

serieCopa = panda.Series(copaDoMundo, 
             index = ['Brasil', 'Alemana', 'Italia', 'Inglaterra', 'Espanha'], #O elemento espanha foi adicionado
             name = 'wcSeries')

serieCopa

Brasil        5.0
Alemana       4.0
Italia        4.0
Inglaterra    1.0
Espanha       NaN
Name: wcSeries, dtype: float64

In [18]:
#indices da serie
serieCopa.index

Index(['Brasil', 'Alemana', 'Italia', 'Inglaterra', 'Espanha'], dtype='object')

In [19]:
#Trazer o valor da serie pelo o indice
serieCopa['Brasil']

5.0

In [20]:
# Atribuindo valor ao indice Espanha, criado acima 

serieCopa['Espanha'] = 1
serieCopa

Brasil        5.0
Alemana       4.0
Italia        4.0
Inglaterra    1.0
Espanha       1.0
Name: wcSeries, dtype: float64

In [21]:
#Tambem posso trazer valores dentro de um intervalo assim como nas listas

serieCopa[1:3]

Alemana    4.0
Italia     4.0
Name: wcSeries, dtype: float64

In [22]:
#tambem é possivel fazer operacoes logicas

serieCopa[serieCopa > 3] #Trazendo valore dos titulos > 3

Brasil     5.0
Alemana    4.0
Italia     4.0
Name: wcSeries, dtype: float64

In [26]:
#LENDO UM ARQUIVO EXCEL NO PANDA

#aquivo = 'C:\\GIT\\DataScience\\Datasets\\Alunos.xlsx'

arquivoExcel = panda.ExcelFile('C:\\GIT\\DataScience\\Datasets\\Alunos.xlsx')
arquivoExcel.sheet_names

['Alunos', 'Notas', 'Trimestre']

In [30]:
#ler somente uma coluna do arquivo

#um documento excel pode ter varias planilhas/folhas no mesmo arquivo, com o metodo Parse vc seta em qual dessas planilhas ira trabalhar
alunos = arquivoExcel.parse('Alunos') #ao fazer isso, aluno passa ser do tipo DateFrame e nao serie
alunos

    Alunos
0      Ana
1    Clara
2    Célia
3     João
4   Carlos
5    Jorge
6   Lilian
7  Antônio

In [33]:
#Para trazer os o conteudo especifico do DataFrame aluno, é preciso informar a coluna e a linha

print(alunos['Alunos'][1])

#outra forma de trazer o mesmo resultado

print(alunos.Alunos[1])

Clara
Clara

In [35]:
#trocando de planilha no mesmo documento

alunos = arquivoExcel.parse('Trimestre')

alunos

    Alunos  Sobrenome  Mês 01  Mês 02  Mês 03
0      Ana     Santos     5.7     6.8     4.6
1    Clara      Mafra     9.9     7.0     9.0
2    Célia    Tavares     8.0     8.0     9.0
3     João      Nunes     9.9     9.0     8.0
4   Carlos  Guilherme     7.0     7.5     6.0
5    Jorge      Silva     6.8     7.0     5.0
6   Lilian     Vianna     7.8     8.0     8.5
7  Antônio      Costa     7.0     6.5     6.0

In [38]:
print('linhas:            ', alunos.index)
print('formato da tabela: ', alunos.shape)
print('colunas:           ', alunos.columns)

linhas:            RangeIndex(start=0, stop=8, step=1)
formato da tabela: (8, 5)
colunas:            Index(['Alunos', 'Sobrenome', 'Mês 01', 'Mês 02', 'Mês 03'], dtype='object')

In [42]:
#Criando uma nova coluna, concatenando duas outras colunas

#primeira forma
alunos['Nome Completo'] = alunos['Alunos'] + ' '+ alunos['Sobrenome']
print(alunos,'\n')

#outra forma de fazer a mesma coisa
alunos['Nome Completo'] = alunos.Alunos + ' ' + alunos.Sobrenome
print(alunos,'\n')

    Alunos  Sobrenome  Mês 01  Mês 02  Mês 03     Nome Completo
0      Ana     Santos     5.7     6.8     4.6        Ana Santos
1    Clara      Mafra     9.9     7.0     9.0       Clara Mafra
2    Célia    Tavares     8.0     8.0     9.0     Célia Tavares
3     João      Nunes     9.9     9.0     8.0        João Nunes
4   Carlos  Guilherme     7.0     7.5     6.0  Carlos Guilherme
5    Jorge      Silva     6.8     7.0     5.0       Jorge Silva
6   Lilian     Vianna     7.8     8.0     8.5     Lilian Vianna
7  Antônio      Costa     7.0     6.5     6.0     Antônio Costa

    Alunos  Sobrenome  Mês 01  Mês 02  Mês 03     Nome Completo
0      Ana     Santos     5.7     6.8     4.6        Ana Santos
1    Clara      Mafra     9.9     7.0     9.0       Clara Mafra
2    Célia    Tavares     8.0     8.0     9.0     Célia Tavares
3     João      Nunes     9.9     9.0     8.0        João Nunes
4   Carlos  Guilherme     7.0     7.5     6.0  Carlos Guilherme
5    Jorge      Silva     6.8     7.0     5.0       Jorge Silva
6   Lilian     Vianna     7.8     8.0     8.5     Lilian Vianna
7  Antônio      Costa     7.0     6.5     6.0     Antônio Costa