In [1]:
import pandas as panda
import numpy

colunas = {'id':int, 'idade':int, 'sexo':str, 'profissao':str, 'cep':str}
usuarios = panda.read_csv('C:\\GIT\\DataScience\\Datasets\\duplicados.txt', sep='|', names=colunas)

In [ ]:
usuarios.dtypes

In [2]:
usuarios.cep.duplicated().sum()

3

In [3]:
usuarios.duplicated().sum()

3

In [4]:
usuarios.loc[usuarios.duplicated(keep='first'),:]

    id  idade sexo   profissao    cep
1    1     24    M  technician  85711
4    3     23    M      writer  32067
11   9     29    M     student   1002