In [1]:
import pandas as panda
import numpy

#lendo o arquivo e ja renomeando as colunas 
nomeColunas = ['star_rating', 'title', 'content_rating', 'genre', 'durating', 'actors_list']

dadoFilmes = panda.read_csv('C:\GIT\DataScience\Datasets\movies.csv', header=0, names = nomeColunas)
dadoFilmes.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
durating            int64
actors_list        object
dtype: object

In [2]:
#ORDENANDO DADOS DOS FILMES POR TITULO

dadoFilmes.title.sort_values().head() # se tirar o metodo .head() tras todos os filmes]
#retorno do sort valeues é um serie

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
Name: title, dtype: object

In [3]:
#Invetendo a ordem

dadoFilmes.title.sort_values(ascending = False)

864                    [Rec]
526                     Zulu
615               Zombieland
677                   Zodiac
955         Zero Dark Thirty
               ...
110    2001: A Space Odyssey
698                127 Hours
201         12 Years a Slave
5               12 Angry Men
542     (500) Days of Summer
Name: title, Length: 979, dtype: object

In [4]:
#Ordenar por titulo no proprio DataFrame

dadoFilmes.sort_values('title')

,star_rating,title,content_rating,genre,durating,actors_list
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
...,...,...,...,...,...,...
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
677,7.7,Zodiac,R,Crime,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M..."
615,7.7,Zombieland,R,Comedy,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha..."
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."

In [5]:
dadoFilmes.sort_values(['title','durating'], ascending=False)

,star_rating,title,content_rating,genre,durating,actors_list
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
615,7.7,Zombieland,R,Comedy,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha..."
677,7.7,Zodiac,R,Crime,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
...,...,...,...,...,...,...
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."

In [6]:
dadoFilmes = dadoFilmes.drop([0], axis = 0)
dadoFilmes

,star_rating,title,content_rating,genre,durating,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [7]:

def tratarTempo(duracao):
    import re
    match = re.compile(r'"(.*)(.0)"')
    duracao = match.sub(r'"\1"', duracao)
    return duracao

#tratarTempo(dadoFilmes.durating[1])

In [8]:
#for tempo in dadoFilmes.durating[1:]:
   # dadoFilmes.durating[tempo] = tratarTempo(tempo)

#dadoFilmes.durating

In [9]:
#for indice, duracao in enumerate(dadoFilmes['durating']):
 #       dadoFilmes['durating'][indice] = float(duracao)

In [10]:
dadoFilmes.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
durating            int64
actors_list        object
dtype: object

In [11]:
#CRIANDO FILTROS PARA TRAZER OS RESULTADOS

boleanos = []

for item in dadoFilmes.durating:
    if item >= 200:
        boleanos.append(True)
    else:
        boleanos.append(False)

In [12]:
len(boleanos)

978

In [13]:
dadoFilmes.shape

(978, 6)

In [14]:
duracao = panda.Series(boleanos)

In [15]:
#aplicando uma serie booleana do DataFrame
#dadoFilmes[duracao]

In [16]:
dadoFilmes[dadoFilmes.durating >= 180].head()

,star_rating,title,content_rating,genre,durating,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."

In [21]:
genero = dadoFilmes[dadoFilmes.durating >= 200].genre.head(10)
genero

2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
Name: genre, dtype: object

In [ ]:
#melhor forma de aplicar filtros = LOC
dadoFilmes.loc[dadoFilmes.durating >= 180].head()