In [1]:
import pandas as panda
import numpy

#esse arquivo contem dados sobre consumo de bebida alcoolica pelo mundo
arquivoDrinks = panda.read_csv('C:\GIT\DataScience\Datasets\drinks.csv')
arquivoDrinks.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [2]:
#Coverter - convertendo uma serie inteira com ASTYPE

arquivoDrinks['beer_servings'] = arquivoDrinks.beer_servings.astype(float)
arquivoDrinks['population'] = arquivoDrinks.beer_servings.astype(float)
arquivoDrinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                      float64
continent                        object
dtype: object

In [3]:
#convertendo ja na leitura do arquivo
#conversao de inteiro em float

arquivoDrinks = panda.read_csv('C:\GIT\DataScience\Datasets\drinks.csv', dtype={'spirit_servings':float, 'beer_servings':float})
arquivoDrinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                 float64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [4]:
arquivoSanduiches = panda.read_table('C:\GIT\DataScience\Datasets\Sanduiches.txt')
arquivoSanduiches.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [5]:
#Replace, conversao de str para float e media com dotNotation
itemprice = arquivoSanduiches['item_price'] = arquivoSanduiches.item_price.str.replace('$','').astype(float).mean()
itemprice

7.464335785374397

In [6]:
#Quantos sanduiches leva o ingrediente tomate
#contains retorna uma serie  de True e False, astype converte true e falase para zero e um, sum, soma a quantidade de 1 na serie
#retornando a quantiade de ocorrencia, lanches com tomate - tomato
arquivoSanduiches.item_name.str.contains('Tomato').astype(int).sum()

111

In [8]:
# arquivoSanduiches.choice_description.str.contains('Coke').astype(int).sum() #nao funciona onde ha compos com valores nulos,
#valores precisam ser tratados previamente 
#aula 11 - veja

quantidadeCoke = arquivoSanduiches.dropna(subset=['choice_description'], how='any')

quantidadeCoke.choice_description.str.contains('Coke').astype(int).sum()

257