In [4]:
#Analise de cardapio, refeição, conta

import pandas as panda
import numpy
#ler arquivo txt com o metodo Read_Table
arquivoRefeicaoVendas = panda.read_table('C:\GIT\DataScience\Datasets\Sanduiches.txt')
arquivoRefeicaoVendas.dtypes #observe que a coluna item_prince esta como string(object) - converter para float

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [6]:
arquivoRefeicaoVendas.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
#Converter item price
precoFloat = []

for preco in arquivoRefeicaoVendas.item_price:
    aux = preco.replace('$','')
    precoFloat.append(float(aux))

In [8]:
arquivoRefeicaoVendas['preco'] = panda.Series(precoFloat) #adcionando a serie de preco convertios em float ao dataFrame
arquivoRefeicaoVendas.head(5)

,order_id,quantity,item_name,choice_description,item_price,preco
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [9]:
#criando um novo arquivo para receber as alteracoes

newArquivoRV = arquivoRefeicaoVendas.drop(['item_price'], axis=1)
newArquivoRV.head(5)

,order_id,quantity,item_name,choice_description,preco
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [10]:
newArquivoRV.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
preco                 float64
dtype: object

In [13]:
#metodos de string
#upper

'data science'.upper()

'DATA SCIENCE'

In [16]:
#Metodos de string em pandas é acessado primeiramente por STR

newArquivoRV.item_name.str.upper().head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

In [22]:
#Busca, procurando por palavras no dataFrame

newArquivoRV[newArquivoRV.item_name.str.contains('Chicken')].head(5) #refeicao com frango

,order_id,quantity,item_name,choice_description,preco
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25

In [26]:
#Busca, procurando por palavras no dataFrame

newArquivoRV[newArquivoRV.preco < 10].head(5) #preco menor que 10

,order_id,quantity,item_name,choice_description,preco
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
6,3,1,Side of Chips,NaN,1.69

In [30]:
#Replace - removendo couchetes

newArquivoRV.choice_description.str.replace('[','').str.replace(']','').head(10)

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5    Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                  NaN
7    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8    Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9    Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
Name: choice_description, dtype: object