In [12]:
import pandas

colunas = {'country':str, 'beer_servings':float, 'spirit_servings':float, 'wine_servings':float, 
           'total_litres_of_pure_alcohol':float, 'population':float, 'continent':str}

analiseDrinks = pandas.read_csv("C:\GIT\DataScience\Datasets\drinks.csv", names=colunas, header=0)
analiseDrinks.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [2]:
analiseDrinks.index

RangeIndex(start=0, stop=194, step=1)

In [3]:
analiseDrinks.dtypes

country                         object
beer_servings                   object
spirit_servings                 object
wine_servings                   object
total_litres_of_pure_alcohol    object
population                      object
continent                       object
dtype: object

In [13]:
# filtro - acessando o indice diretamente

analiseDrinks[analiseDrinks.continent == 'South America'].head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
6,Argentina,193,25,221,8.3,43.085.000,South America
20,Bolivia,167,41,8,3.8,11.410.651,South America
23,Brazil,245,145,16,7.2,207.660.929,South America
35,Chile,130,124,172,7.6,18.006.407,South America
37,Colombia,159,76,3,4.2,48.336.300,South America

In [14]:
#Loc = localização por index (cruzando informações entre colunas)

analiseDrinks.loc[6, 'beer_servings']

193

In [15]:
#Set_index - transforma uma coluna em index

analiseDrinks.set_index('country', inplace=True) #só executa uma vez, depois da erro pois a nome 
                                                #deixa de ser uma coluna para ser tornar um index

In [16]:
analiseDrinks[analiseDrinks.continent == 'South America'].head(5)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Argentina,193,25,221,8.3,43.085.000,South America
Bolivia,167,41,8,3.8,11.410.651,South America
Brazil,245,145,16,7.2,207.660.929,South America
Chile,130,124,172,7.6,18.006.407,South America
Colombia,159,76,3,4.2,48.336.300,South America

In [17]:
#Ocultando um indice

#analiseDrinks.index.name = None 
#para renomear basta, atribuir um novo nome:
#analiseDrinks.index.name = 'country'

#analiseDrinks[analiseDrinks.continent == 'South America'].head(5)

In [18]:
#Reset - index: para retornar o cabeçalho, nome das colunas igual no arquivo orginal

analiseDrinks.reset_index(inplace=True)
analiseDrinks.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [20]:
#Retornos tambem sao dataframnes gerados, entao eu posso utiliza-lo para acessar ou criar novas funcoes (dotnotation)

analiseDrinks.describe().loc['mean','beer_servings']

106.16062176165804

In [21]:
analiseDrinks.continent.head(5)

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [22]:
analiseDrinks.set_index('country', inplace=True)

In [23]:
analiseDrinks.head(5)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

In [24]:
analiseDrinks.continent.head(5)

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [25]:
#Retornano o indice uma serie

analiseDrinks.continent.value_counts().index

Index(['Africa', 'Europe', 'Asia', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [26]:
#valores dos indices - lembre-se que o value_counts agrupa as repetições, esse agrupamente retorna valores
analiseDrinks.continent.value_counts().values

array([53, 45, 44, 23, 16, 12], dtype=int64)

In [27]:
analiseDrinks.continent.value_counts()['Africa']

53

In [28]:
#ordenando indices por valores

analiseDrinks.continent.value_counts().sort_values()

South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: continent, dtype: int64

In [29]:
#ordenando por index (ordem alfabetica ja que transformamos o indice em string)

analiseDrinks.continent.value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [35]:
#Categorizando cosumo de cerveja
#criando uma serie
consumoCerveja = pandas.Series(['baixo', 'medio', 'alto'], index=['Albania','Bolivia','Brazil'], name='consumo')
consumoCerveja

Albania    baixo
Bolivia    medio
Brazil      alto
Name: consumo, dtype: object

In [62]:
#ALINHAMENTO

#conpararando e categorizando a serie consumoCerveja, com a serie beer_serving dentro do dataFrame

pandas.concat([analiseDrinks, consumoCerveja], axis=1).head(5)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,consumo
Afghanistan,0.0,0.0,0.0,0.0,34.660.000,Asia,NaN
Albania,89.0,132.0,54.0,4.9,2.876.000,Europe,baixo
Algeria,25.0,0.0,14.0,0.7,40.061.000,Africa,NaN
Andorra,245.0,138.0,312.0,12.4,77.281.000,Europe,NaN
Angola,217.0,57.0,45.0,5.9,28.081.000,Africa,NaN