In [2]:
import pandas as panda
import numpy

arquivoOvines = panda.read_csv('C:\\GIT\\DataScience\\Datasets\\ufo.csv')
arquivoOvines.head(5)

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
#METODO LOC - PARA LOCALIZAÇÃO DE LABES-STRING
#paramentros = uma label, uma lista de label, um slice de labels, seria booleana e uma coluna (todas as labels)


#uma linha e todas as colunas

arquivoOvines.loc[0,:] # zero presenta o indice da linha e : (dois pontos) = todas as colunas

City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

In [6]:
#METODO LOC 
#mais de uma linha
arquivoOvines.loc[[0,1,2],:] # 0,1,2 presenta o indice da linha e : (dois pontos) = todas as colunas

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [7]:
#METODO LOC 
#intervalo de uma linha a outra
arquivoOvines.loc[0:3,:] # 0:3 presenta o indice da linha e : (dois pontos) = todas as colunas

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3      Abilene             NaN           DISK    KS   6/1/1931 13:00

In [9]:
#METODO LOC 
#se informar apenas um parametro ele traz todas as colunas
arquivoOvines.loc[0:2]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [11]:
#METODO LOC 

arquivoOvines.loc[0:2, 'City']# 0:2 presenta o indice da linha

0         Ithaca
1    Willingboro
2        Holyoke
Name: City, dtype: object

In [14]:
#METODO LOC - slice

arquivoOvines.loc[0:2, ['City','State']]# 0:2 presenta o indice da linha

          City State
0       Ithaca    NY
1  Willingboro    NJ
2      Holyoke    CO

In [17]:
#METODO LOC - slice

arquivoOvines[['City','State']].head(2)# somente colunas

          City State
0       Ithaca    NY
1  Willingboro    NJ

In [19]:
#METODO LOC - slice

arquivoOvines.loc[0:2, 'City':'State']# 0:2 presenta o indice da linha, 'City':'State' colunas

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

In [21]:
#METODO LOC - slice

arquivoOvines.loc[arquivoOvines.City=='Oakland', 'City':'State']#primeiro paramentro sempre preseta linha, o segundo = coluna

          City Colors Reported Shape Reported State
1694   Oakland             NaN          CIGAR    CA
2144   Oakland             NaN           DISK    CA
4686   Oakland             NaN          LIGHT    MD
7293   Oakland             NaN          LIGHT    CA
8488   Oakland             NaN            NaN    CA
8768   Oakland             NaN            NaN    CA
10816  Oakland             NaN          LIGHT    OR
10948  Oakland             NaN           DISK    CA
11045  Oakland             NaN       TRIANGLE    CA
12322  Oakland             NaN       FIREBALL    CA
12941  Oakland             NaN       CYLINDER    CA
16803  Oakland             NaN       TRIANGLE    MD
17322  Oakland             NaN       CYLINDER    CA

In [24]:
#com dotNotation podemos chagar em resultado semelhantes, mas dê preferencia para usar Loc por questão de melhor performance
# e leitura do codigo, pois fica explicito a ação

#ex: dotNotation
arquivoOvines[arquivoOvines.City=='Oakland'].State.head(5)

1694    CA
2144    CA
4686    MD
7293    CA
8488    CA
Name: State, dtype: object

In [27]:
#METODO LOC E RESHAPING

arquivoUfo = arquivoOvines.set_index(['State']) #definimos State como novo index - executar somente uma vez esssa ação
arquivoUfo.head(3)

              City Colors Reported Shape Reported             Time
State
NY          Ithaca             NaN       TRIANGLE   6/1/1930 22:00
NJ     Willingboro             NaN          OTHER  6/30/1930 20:00
CO         Holyoke             NaN           OVAL  2/15/1931 14:00

In [31]:
arquivoUfo.loc['NY', 'Time'].head(5) #agora c o index em formato de string, podemos apenas informar Lasbels,strings de parametro

State
NY     6/1/1930 22:00
NY    4/18/1933 19:00
NY      1/8/1946 2:00
NY    2/20/1947 22:15
NY    7/14/1947 10:30
Name: Time, dtype: object

In [32]:
#METRODO ILOC - LOCALIZANDO POR INDICES INDEIROS

arquivoOvines.iloc[0:2, :] # : todas as colunas

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [ ]:
#heheheh