In [37]:
import pandas as panda
import numpy

#funcao LOC retorna a procura, se vc procura as linhas dulplicas, logo LOC ira retorna-las

colunas = {'id':int, 'idade':int, 'sexo':str, 'profissao':str, 'cep':str}
usuarios = panda.read_csv('C:\\GIT\\DataScience\\Datasets\\duplicados.txt', sep='|', names=colunas)

In [40]:
usuarios.shape

(15, 5)

In [38]:
usuarios.cep.duplicated().sum()

3

In [7]:
usuarios.duplicated().sum()

3

In [17]:
#exibindo linhas duplicadas

#duplicated retorna o dataFrame de linhas a sereme excluidas e n√£o as que deveram ser mantidas

usuarios.loc[usuarios.duplicated(keep='first'),:] # keep='last' para manter o ultimo regristo ao inves do primeiro

    id  idade sexo   profissao    cep
1    1     24    M  technician  85711
4    3     23    M      writer  32067
11   9     29    M     student   1002

In [30]:
#exibindo todas linhas duplicadas 

usuarios.loc[usuarios.duplicated(keep=False),:]

    id  idade sexo   profissao    cep
0    1     24    M  technician  85711
1    1     24    M  technician  85711
3    3     23    M      writer  32067
4    3     23    M      writer  32067
10   9     29    M     student   1002

In [34]:
#EXCLUINDO COLUNAS DUPLICADAS - DROP_DUPLICATED

usuarios.drop_duplicates(keep='first').shape

(12, 5)

In [35]:
usuarios.drop_duplicates(keep='last').shape

(12, 5)

In [41]:
usuarios.drop_duplicates(keep=False).shape

(9, 5)

In [43]:
#SUBSET PARA ENCONTRAR MAIS DE UM DADO DUPLICADO

usuarios.duplicated(subset=['idade', 'cep']).sum()

3

In [46]:
usuarios.drop_duplicates(subset=['idade', 'cep']).shape

(12, 5)