In [4]:
#Sempre lembre-se, para manter alterações, remoções de colunas e linhas nos arquivos, é necessário atribuir o conteudo alterado
#em um nova variavel

import pandas as panda
import numpy

#esse arquivo contem dados sobre consumo de bebida alcoolica pelo mundo
arquivoDrinks = panda.read_csv('C:\GIT\DataScience\Datasets\drinks.csv')
arquivoDrinks.head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102,128,45,4.9,86.295,North America
6,Argentina,193,25,221,8.3,43.085.000,South America
7,Armenia,21,179,11,3.8,2.925.000,Europe
8,Australia,261,72,212,10.4,24.013.000,Oceania
9,Austria,279,75,191,9.7,8.725.111,Europe
10,Azerbaijan,21,46,5,1.3,9.654.900,Europe
11,Bahamas,122,176,51,6.3,368.390,North America
12,Bahrain,42,63,7,2.0,1.359.800,Asia
13,Bangladesh,0,0,0,0.0,159.145.000,Asia
14,Barbados,143,173,36,6.3,285.000,North America
15,Belarus,142,373,42,14.4,9.485.300,Europe
16,Belgium,295,84,212,10.5,11.250.659,Europe
17,Belize,263,114,8,6.8,368.310,North America
18,Benin,34,4,13,1.1,10.315.244,Africa
19,Bhutan,23,0,0,0.4,765.650,Asia

In [5]:
#Calculo da media de cada coluna
arquivoDrinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [6]:
#Calculando media para cada linha
arquivoDrinks.mean(axis=1).head()

0      0.000
1     69.975
2      9.925
3    176.850
4     81.225
dtype: float64

In [10]:
#somando linha a linha
arquivoDrinks.sum(axis = 0).head(5) #sum tambem concatena string

country                         AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...
beer_servings                                                               20489
spirit_servings                                                             15632
wine_servings                                                                9544
total_litres_of_pure_alcohol                                                910.4
dtype: object

In [11]:
#Replace usando a biblioteca panda

population = arquivoDrinks['population'] = arquivoDrinks.population.str.replace('.','') #substituindo ponto por nada
population.head(5)

0    34660000
1     2876000
2    40061000
3    77281000
4    28081000
Name: population, dtype: object

In [16]:
#Convertendo string em int
#population nessa arquivo esta em forma de string

populationInt = []

for cadaPopulcao in arquivoDrinks.population:
    aux = cadaPopulacao.replace('.','')
    populacao = int(aux)
    populationInt.append(populacao)

In [23]:
type (populationInt[3])

int

In [32]:
type(populationInt) #é uma lista de numeros inteiros

AttributeError: 'list' object has no attribute 'dtypes'

In [28]:
#Criando uma nova coluna para receber a lista de populacao convertida em inteiro
#adiconando uma serie a um dataFrame

arquivoDrinks['total_population'] = panda.Series(populationInt)

In [29]:
arquivoDrinks.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,total_population
0,Afghanistan,0,0,0,0.0,34660000,Asia,34660000
1,Albania,89,132,54,4.9,2876000,Europe,34660000
2,Algeria,25,0,14,0.7,40061000,Africa,34660000
3,Andorra,245,138,312,12.4,77281000,Europe,34660000
4,Angola,217,57,45,5.9,28081000,Africa,34660000

In [31]:
arquivoDrinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
total_population                  int64
dtype: object

In [36]:
#Apagando coluna population - nao  vamos mais precisar dela pois ja adicionamos a msm convertida
dadosDrinks = arquivoDrinks.drop(['population'], axis=1)
dadosDrinks.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_population
0,Afghanistan,0,0,0,0.0,Asia,34660000
1,Albania,89,132,54,4.9,Europe,34660000
2,Algeria,25,0,14,0.7,Africa,34660000
3,Andorra,245,138,312,12.4,Europe,34660000
4,Angola,217,57,45,5.9,Africa,34660000

In [37]:
#media de todas as colunas, incluindo populacao
dadosDrinks.mean()

beer_servings                   1.061606e+02
spirit_servings                 8.099482e+01
wine_servings                   4.945078e+01
total_litres_of_pure_alcohol    4.717098e+00
total_population                3.466000e+07
dtype: float64